:root {
    --primary: rgb(35, 193, 204);
    --secondary: #ff5722;
    --success: #6fbf71;
    --info: #00bcd4;
    --warning: #cc6531;
    --danger: #b0271d;
    --light: #f1f1f1;
    --dark: #212121;
  }

  .bg-primary{
    background-color: var(--primary) !important;
}
.bg-white{
  background-color: var(--light) !important;
}

.text-white{
  color: white !important;
}

.bg-success{
  background-color: var(--success) !important;
}

.bg-error{
  background-color: var(--danger) !important;
}
