.user-menu-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
  }
  
  .user-menu-icon .initials {
    background-color:white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    font-weight: bold;
    margin-right: 8px;
  }
  